<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>
        {% block title %}
        {% endblock title %} | ChatNow
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="{% url 'front_page' %}">Home</a></li>

            {% if request.user.is_authenticated %}
                <li class="right"><a href="{% url 'logout' %}">Logout</a></li>
                <li class="right"><a href="{% url 'rooms' %}">Rooms</a></li>
            {% else %}
                <li class="right"><a href="{% url 'sign_up' %}">Signup</a></li>
                <li class="right"><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

{% block content %}
{% endblock content %}

<script>
    // Your JavaScript code goes here
</script>
</body>
</html>
