{% extends 'chat/base.html' %}
{% load static %}
{% block title %} Rooms {% endblock %}

{% block content %}
    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">Rooms</h1>
    </div>
    <div class="container">
        <div class="row">
            {% for room in rooms %}
                <div class="col-md-3">
                <div class="box">
                    <h2>{{ room }}</h2>
                    <a href="{% url 'room' room.slug %}" class="btn btn-lg btn-success" type="submit">Join</a>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
